.root {
  @apply mt-4 max-w-2xl mx-auto;
}

.root h1,
.root h2,
.root h3 {
  @apply mt-8;
}

.root p,
.root pre {
  @apply mt-4;
}

.root article {
  @apply mt-6;
}

.root article a {
  @apply text-pink-500 transition transition-transform duration-100;
}

.root iframe {
  @apply w-full mt-4;
  height: theme("maxWidth.sm");
}

.root ul,
.root ol {
  @apply mt-2 ml-4;
}

.root li {
  @apply mt-1;
}

.root ul > li {
  @apply list-disc;
}

.root ol > li {
  @apply list-decimal;
}

.header-link > * > span:nth-child(2) {
  display: inline-block;
  width: theme("spacing.4");
  @apply ml-1;
}

.header-link:hover > * > span:nth-child(2) {
  display: inline-block;
}

@screen lg {
  .header-link > * {
    position: relative;
  }
  .header-link > * > span:nth-child(2) {
    display: none;
  }
  .header-link:hover > * > span:nth-child(2) {
    display: inline-block;
    position: absolute;
    left: 0;
    transform: translate(calc(-1 * theme("spacing.6")), theme("spacing.2"));
  }
}

.root code {
  @apply bg-blue-100;
}

.root pre > code {
  @apply py-2 rounded-md;
}

:global .lowlight :global .grvsc-line:not(.grvsc-line-highlighted) {
  opacity: 0.4;
}
