.headings {
  @apply text-center my-4;
}

.scene {
  perspective: 1200px;
}

.card {
  /* width: 100%;
  height: 100%; */
  position: relative;
  transform-style: preserve-3d;
  @apply border-2 rounded-lg border-gray-200 shadow-lg p-4 max-w-xs mx-auto mt-4;
}

.card-face {
  /* position: absolute; */
  backface-visibility: hidden;
  /* width: 100%; */
  /* height: 100%; */
  @apply bg-white;
}

.back {
  position: absolute;
  z-index: -1;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  composes: card-face;
}

.form > * {
  @apply mt-4;
}

.field {
  @apply relative;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  @apply w-full border-2 rounded-md bg-gray-100 px-2 py-1 box-border;
}

.form textarea {
  @apply resize-none h-20 px-2 py-1;
}

.form input[type="submit"] {
  @apply border-2 rounded-md py-1 px-2 bg-pink-400 shadow-sm text-white font-bold tracking-wide;
}

.form input:focus,
.form textarea:focus {
  @apply outline-none shadow-outline border-0;
}

.form fieldset[name="need"] > div:nth-child(2) {
  @apply flex flex-wrap justify-center;
}

.select-box {
  @apply border-2 rounded-md shadow-sm py-1 px-2 m-1 inline-block text-sm select-none font-semibold;
}

.select-box:focus-within {
  @apply outline-none shadow-outline;
}

.select-box > input[type="checkbox"] {
  @apply sr-only;
}

.form input[type="submit"]:disabled {
  @apply bg-gray-500;
}

.form input[aria-invalid="true"],
.form textarea[aria-invalid="true"] {
  box-shadow: 0 0 0 3px theme("colors.red.500");
  @apply border-0;
}

.error-message {
  @apply absolute right-0 flex;
  @apply text-sm mt-1;
  @apply text-red-600;
}
.error-icon {
  @apply w-6 p-1 mr-1;
  @apply absolute top-0 bottom-0 right-0;
  @apply flex flex-col justify-center;
}

.error-message-2 {
  @apply flex justify-end text-sm mt-1;
  @apply text-red-600;
}
.error-icon-2 {
  @apply w-6 p-1;
}
