.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  @apply bg-white shadow-md;
}

.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 20;
  @apply w-full max-w-4xl mx-auto inset-x-0;
}

.banner {
  z-index: 30;
}

.banner>a {
  display: flex;
  align-items: center;
}

.banner>a>svg:nth-child(1) {
  @apply w-12 p-2 ml-1;
}

.banner>a>svg:nth-child(2) {
  @apply w-24 mx-2;
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 30;
  @apply w-6 mt-3 mr-1;
}

.nav-xs {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.nav-sm {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @apply w-1/3 mr-4;
}
/*
.nav-sm > a {
  @apply mx-4
} */

.sm-link {
  @apply relative;
}

.sm-active-underline {
  @apply absolute w-full border-b-2 border-pink-400;
  bottom: -2;
}
